{% extends 'BackendBundle::layout.html.twig' %}

{% block pagetitle %}Welcome {{ app.user.username }}! <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-mini">Edit Profile</a>{% endblock %}