{% extends "UserBundle::layout.html.twig" %}

{% block title %}Retrieve Password{% endblock %}

{% block main %}

<h2>Retrieve Password</h2>

<div class="alert alert-success">
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</div>
{% endblock %}