{% extends "UserBundle::layout.html.twig" %}

{% block title %}Retrieve Password{% endblock %}

{% block main %}

<h1>Retrieve Password</h1>

<div class="alert">
{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
</div>
{% endblock %}