{% extends "UserBundle::layout.html.twig" %}

{% block title %}Retrieve Password{% endblock %}

{% block main %}

<h2>Retrieve Password</h2>

{% include "UserBundle:Resetting:reset_content.html.twig" %}

{% endblock %}