{% extends '::navbar.html.twig' %}

{% block navigation %}
<ul class="nav">
  <li><a href="#">Section #1</a></li>
  <li><a href="#">Section #2</a></li>
  <li><a href="#">Section #3</a></li>
</ul>
{% endblock %}